<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @package    Eepohs
 * @subpackage Estpay
 */

/**
 * Estpay module configuration
 *
 * PLEASE READ THIS SOFTWARE LICENSE AGREEMENT ("LICENSE") CAREFULLY
 * BEFORE USING THE SOFTWARE. BY USING THE SOFTWARE, YOU ARE AGREEING
 * TO BE BOUND BY THE TERMS OF THIS LICENSE.
 * IF YOU DO NOT AGREE TO THE TERMS OF THIS LICENSE, DO NOT USE THE SOFTWARE.
 *
 * Full text of this license is available @license
 *
 * @license http://www.eepohs.com/eepohs-commercial-software-license/
 * @licensee $ReleasedTo$
 * @version $version$
 * @author Eepohs OÜ
 * @copyright $year$ Eepohs OÜ http://www.eepohs.com/
 *
 * @package    Eepohs
 * @subpackage Estpay
 * @category   Payment methods
 */
-->
<config>
    <modules>
        <Eepohs_Estpay>
            <version>1.1.0</version>
        </Eepohs_Estpay>
    </modules>
    <global>
        <models>
            <estpay>
                <class>Eepohs_Estpay_Model</class>
            </estpay>
        </models>
        <helpers>
            <estpay>
                <class>Eepohs_Estpay_Helper</class>
            </estpay>
        </helpers>
        <blocks>
            <estpay>
                <class>Eepohs_Estpay_Block</class>
            </estpay>
        </blocks>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Eepohs_Estpay>
                    <files>
                        <default>Eepohs_Estpay.csv</default>
                    </files>
                </Eepohs_Estpay>
            </modules>
        </translate>
        <layout>
            <updates>
                <Eepohs_Estpay>
                    <file>eepohs/estpay.xml</file>
                </Eepohs_Estpay>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <Eepohs_Estpay>
                                            <title>Eepohs Estpay</title>
                                        </Eepohs_Estpay>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <Eepohs_Estpay>
                    <file>eepohs/estpay.xml</file>
                </Eepohs_Estpay>
            </updates>
        </layout>
        <routers>
            <estpay>
                <use>standard</use>
                <args>
                    <module>Eepohs_Estpay</module>
                    <frontName>estpay</frontName>
                </args>
            </estpay>
        </routers>
        <translate>
            <modules>
                <Eepohs_Estpay>
                    <files>
                        <default>Eepohs_Estpay.csv</default>
                    </files>
                </Eepohs_Estpay>
            </modules>
        </translate>
    </frontend>
    <default>
        <payment>
            <eepohs_seb>
                <active>0</active>
                <title>SEB</title>
                <order_status>pending</order_status>
                <gateway_url>https://www.seb.ee/cgi-bin/unet3.sh/un3min.r</gateway_url>
                <vk_snd_id></vk_snd_id>
                <private_key></private_key>
                <bank_certificate></bank_certificate>
                <private_key></private_key>
                <bank_certificate></bank_certificate>
                <order_confirmation>0</order_confirmation>
                <invoice_confirmation>1</invoice_confirmation>
                <model>estpay/seb</model>
                <payment_action>authorize</payment_action>
            </eepohs_seb>
            <eepohs_nordea>
                <active>0</active>
                <title>Nordea</title>
                <order_status>pending</order_status>
                <gateway_url>https://netbank.nordea.com/pnbepay/epayn.jsp</gateway_url>
                <service_provider></service_provider>
                <mac_key></mac_key>
                <order_confirmation>0</order_confirmation>
                <invoice_confirmation>1</invoice_confirmation>
                <model>estpay/nordea</model>
                <payment_action>authorize</payment_action>
            </eepohs_nordea>
            <eepohs_swedbank>
                <active>0</active>
                <title>Swedbank</title>
                <order_status>pending</order_status>
                <gateway_url>https://www.swedbank.ee/banklink</gateway_url>
                <vk_snd_id></vk_snd_id>
                <private_key></private_key>
                <bank_certificate></bank_certificate>
                <private_key></private_key>
                <bank_certificate></bank_certificate>
                <order_confirmation>0</order_confirmation>
                <invoice_confirmation>1</invoice_confirmation>
                <model>estpay/swedbank</model>
                <payment_action>authorize</payment_action>
            </eepohs_swedbank>
            <eepohs_sampo>
                <active>0</active>
                <title>Sampo</title>
                <order_status>pending</order_status>
                <gateway_url>https://www2.sampopank.ee/ibank/pizza/pizza</gateway_url>
                <vk_snd_id></vk_snd_id>
                <private_key></private_key>
                <bank_certificate></bank_certificate>
                <private_key></private_key>
                <bank_certificate></bank_certificate>
                <order_confirmation>0</order_confirmation>
                <invoice_confirmation>1</invoice_confirmation>
                <model>estpay/sampo</model>
                <payment_action>authorize</payment_action>
            </eepohs_sampo>
            <eepohs_krediidipank>
                <active>0</active>
                <title>Krediidipank</title>
                <order_status>pending</order_status>
                <gateway_url></gateway_url>
                <vk_snd_id></vk_snd_id>
                <private_key></private_key>
                <bank_certificate></bank_certificate>
                <private_key></private_key>
                <bank_certificate></bank_certificate>
                <order_confirmation>0</order_confirmation>
                <invoice_confirmation>1</invoice_confirmation>
                <model>estpay/krediidipank</model>
                <payment_action>authorize</payment_action>
            </eepohs_krediidipank>
            <eepohs_estcard>
                <active>0</active>
                <title>VISA / Mastercard</title>
                <order_status>pending</order_status>
                <gateway_url>https://pos.estcard.ee/webpos/servlet/iPAYServlet</gateway_url>
                <vk_snd_id></vk_snd_id>
                <private_key></private_key>
                <bank_certificate></bank_certificate>
                <private_key></private_key>
                <bank_certificate></bank_certificate>
                <order_confirmation>0</order_confirmation>
                <invoice_confirmation>1</invoice_confirmation>
                <model>estpay/estcard</model>
                <payment_action>authorize</payment_action>
            </eepohs_estcard>
        </payment>
    </default>
</config>