<?xml version="1.0" encoding="UTF-8"?>
<config>
    <sections>
	<payment>
	    <groups>
		<eepohs_seb translate="label" module="eepay">
		    <label>SEB</label>
		    <sort_order>100</sort_order>
		    <show_in_default>1</show_in_default>
		    <show_in_website>1</show_in_website>
		    <show_in_store>1</show_in_store>
		    <fields>
			<active translate="label">
			    <label>Enabled</label>
			    <frontend_type>select</frontend_type>
			    <source_model>adminhtml/system_config_source_yesno</source_model>
			    <sort_order>1</sort_order>
			    <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</active>
			<title translate="label">
			    <label>Title</label>
			    <frontend_type>text</frontend_type>
			    <sort_order>2</sort_order>
			    <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</title>
			<order_status translate="label">
			    <label>New Order Status</label>
			    <frontend_type>select</frontend_type>
			    <source_model>adminhtml/system_config_source_order_status</source_model>
			    <sort_order>3</sort_order>
			    <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</order_status>
			<gateway_url translate="label">
			    <label>Gateway URL</label>
			    <frontend_type>text</frontend_type>
			    <sort_order>4</sort_order>
			    <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</gateway_url>
                        <vk_snd_id translate="label">
                            <label>Merchant ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
                        </vk_snd_id>
                        <private_key translate="label">
                            <label>Private Key</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
                        </private_key>
                        <bank_certificate translate="label">
                            <label>Bank Certificate</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
                        </bank_certificate>
			<order_confirmation translate="label">
			    <label>Send Order Confirmation</label>
			    <frontend_type>select</frontend_type>
			    <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</order_confirmation>
			<invoice_confirmation translate="label">
			    <label>Send Invoice</label>
			    <frontend_type>select</frontend_type>
			    <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</invoice_confirmation>
                        <quick_redirect translate="label">
			    <label>Quick Redirect</label>
                            <description><![CDATA[Redirect to bank right after order confirmation (no intermediate page)]]></description>
			    <frontend_type>select</frontend_type>
			    <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</quick_redirect>
                        <sort_order translate="label">
                            <label>Sort order</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sort_order>
		    </fields>
		</eepohs_seb>
		<eepohs_nordea translate="label" module="eepay">
		    <label>Nordea</label>
		    <sort_order>110</sort_order>
		    <show_in_default>1</show_in_default>
		    <show_in_website>1</show_in_website>
		    <show_in_store>1</show_in_store>
		    <fields>
			<active translate="label">
			    <label>Enabled</label>
			    <frontend_type>select</frontend_type>
			    <source_model>adminhtml/system_config_source_yesno</source_model>
			    <sort_order>1</sort_order>
			    <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</active>
			<title translate="label">
			    <label>Title</label>
			    <frontend_type>text</frontend_type>
			    <sort_order>2</sort_order>
			    <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</title>
			<order_status translate="label">
			    <label>New Order Status</label>
			    <frontend_type>select</frontend_type>
			    <source_model>adminhtml/system_config_source_order_status</source_model>
			    <sort_order>3</sort_order>
			    <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</order_status>
			<gateway_url translate="label">
			    <label>Gateway URL</label>
			    <frontend_type>text</frontend_type>
			    <sort_order>4</sort_order>
			    <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</gateway_url>
			<service_provider translate="label">
			    <label>Service Provider's ID</label>
			    <frontend_type>text</frontend_type>
			    <sort_order>5</sort_order>
			    <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</service_provider>
			<mac_key translate="label">
			    <label>MAC Key</label>
			    <frontend_type>text</frontend_type>
			    <sort_order>6</sort_order>
			    <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</mac_key>
			<order_confirmation translate="label">
			    <label>Send Order Confirmation</label>
			    <frontend_type>select</frontend_type>
			    <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</order_confirmation>
			<invoice_confirmation translate="label">
			    <label>Send Invoice</label>
			    <frontend_type>select</frontend_type>
			    <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</invoice_confirmation>
                        <quick_redirect translate="label">
			    <label>Quick Redirect</label>
                            <description><![CDATA[Redirect to bank right after order confirmation (no intermediate page)]]></description>
			    <frontend_type>select</frontend_type>
			    <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</quick_redirect>
                        <sort_order translate="label">
                            <label>Sort order</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sort_order>
		    </fields>
		</eepohs_nordea>
		<eepohs_swedbank translate="label" module="eepay">
		    <label>Swedbank</label>
		    <sort_order>120</sort_order>
		    <show_in_default>1</show_in_default>
		    <show_in_website>1</show_in_website>
		    <show_in_store>1</show_in_store>
		    <fields>
			<active translate="label">
			    <label>Enabled</label>
			    <frontend_type>select</frontend_type>
			    <source_model>adminhtml/system_config_source_yesno</source_model>
			    <sort_order>1</sort_order>
			    <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</active>
			<title translate="label">
			    <label>Title</label>
			    <frontend_type>text</frontend_type>
			    <sort_order>2</sort_order>
			    <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</title>
			<order_status translate="label">
			    <label>New Order Status</label>
			    <frontend_type>select</frontend_type>
			    <source_model>adminhtml/system_config_source_order_status</source_model>
			    <sort_order>3</sort_order>
			    <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</order_status>
			<gateway_url translate="label">
			    <label>Gateway URL</label>
			    <frontend_type>text</frontend_type>
			    <sort_order>4</sort_order>
			    <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</gateway_url>
                        <vk_snd_id translate="label">
                            <label>Merchant ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
                        </vk_snd_id>
                        <private_key translate="label">
                            <label>Private Key</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
                        </private_key>
                        <bank_certificate translate="label">
                            <label>Bank Certificate</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
                        </bank_certificate>
			<order_confirmation translate="label">
			    <label>Send Order Confirmation</label>
			    <frontend_type>select</frontend_type>
			    <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</order_confirmation>
			<invoice_confirmation translate="label">
			    <label>Send Invoice</label>
			    <frontend_type>select</frontend_type>
			    <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</invoice_confirmation>
                        <quick_redirect translate="label">
			    <label>Quick Redirect</label>
                            <description><![CDATA[Redirect to bank right after order confirmation (no intermediate page)]]></description>
			    <frontend_type>select</frontend_type>
			    <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</quick_redirect>
                        <sort_order translate="label">
                            <label>Sort order</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sort_order>
		    </fields>
		</eepohs_swedbank>
		<eepohs_sampo translate="label" module="eepay">
		    <label>Sampo</label>
		    <sort_order>130</sort_order>
		    <show_in_default>1</show_in_default>
		    <show_in_website>1</show_in_website>
		    <show_in_store>1</show_in_store>
		    <fields>
			<active translate="label">
			    <label>Enabled</label>
			    <frontend_type>select</frontend_type>
			    <source_model>adminhtml/system_config_source_yesno</source_model>
			    <sort_order>1</sort_order>
			    <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</active>
			<title translate="label">
			    <label>Title</label>
			    <frontend_type>text</frontend_type>
			    <sort_order>2</sort_order>
			    <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</title>
			<order_status translate="label">
			    <label>New Order Status</label>
			    <frontend_type>select</frontend_type>
			    <source_model>adminhtml/system_config_source_order_status</source_model>
			    <sort_order>3</sort_order>
			    <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</order_status>
			<gateway_url translate="label">
			    <label>Gateway URL</label>
			    <frontend_type>text</frontend_type>
			    <sort_order>4</sort_order>
			    <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</gateway_url>
                        <vk_snd_id translate="label">
                            <label>Merchant ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
                        </vk_snd_id>
                        <private_key translate="label">
                            <label>Private Key</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
                        </private_key>
                        <bank_certificate translate="label">
                            <label>Bank Certificate</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
                        </bank_certificate>
			<order_confirmation translate="label">
			    <label>Send Order Confirmation</label>
			    <frontend_type>select</frontend_type>
			    <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</order_confirmation>
			<invoice_confirmation translate="label">
			    <label>Send Invoice</label>
			    <frontend_type>select</frontend_type>
			    <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</invoice_confirmation>
                        <quick_redirect translate="label">
			    <label>Quick Redirect</label>
                            <description><![CDATA[Redirect to bank right after order confirmation (no intermediate page)]]></description>
			    <frontend_type>select</frontend_type>
			    <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</quick_redirect>
                        <sort_order translate="label">
                            <label>Sort order</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sort_order>
		    </fields>
		</eepohs_sampo>
		<eepohs_krediidipank translate="label" module="eepay">
		    <label>Krediidipank</label>
		    <sort_order>140</sort_order>
		    <show_in_default>1</show_in_default>
		    <show_in_website>1</show_in_website>
		    <show_in_store>1</show_in_store>
		    <fields>
			<active translate="label">
			    <label>Enabled</label>
			    <frontend_type>select</frontend_type>
			    <source_model>adminhtml/system_config_source_yesno</source_model>
			    <sort_order>1</sort_order>
			    <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</active>
			<title translate="label">
			    <label>Title</label>
			    <frontend_type>text</frontend_type>
			    <sort_order>2</sort_order>
			    <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</title>
			<order_status translate="label">
			    <label>New Order Status</label>
			    <frontend_type>select</frontend_type>
			    <source_model>adminhtml/system_config_source_order_status</source_model>
			    <sort_order>3</sort_order>
			    <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</order_status>
			<gateway_url translate="label">
			    <label>Gateway URL</label>
			    <frontend_type>text</frontend_type>
			    <sort_order>4</sort_order>
			    <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</gateway_url>
                        <vk_snd_id translate="label">
                            <label>Merchant ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
                        </vk_snd_id>
                        <private_key translate="label">
                            <label>Private Key</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
                        </private_key>
                        <bank_certificate translate="label">
                            <label>Bank Certificate</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
                        </bank_certificate>
			<order_confirmation translate="label">
			    <label>Send Order Confirmation</label>
			    <frontend_type>select</frontend_type>
			    <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</order_confirmation>
			<invoice_confirmation translate="label">
			    <label>Send Invoice</label>
			    <frontend_type>select</frontend_type>
			    <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</invoice_confirmation>
                        <quick_redirect translate="label">
			    <label>Quick Redirect</label>
                            <description><![CDATA[Redirect to bank right after order confirmation (no intermediate page)]]></description>
			    <frontend_type>select</frontend_type>
			    <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</quick_redirect>
                        <sort_order translate="label">
                            <label>Sort order</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sort_order>
		    </fields>
		</eepohs_krediidipank>
		<eepohs_estcard translate="label" module="eepay">
		    <label>Estcard</label>
		    <sort_order>150</sort_order>
		    <show_in_default>1</show_in_default>
		    <show_in_website>1</show_in_website>
		    <show_in_store>1</show_in_store>
		    <fields>
			<active translate="label">
			    <label>Enabled</label>
			    <frontend_type>select</frontend_type>
			    <source_model>adminhtml/system_config_source_yesno</source_model>
			    <sort_order>1</sort_order>
			    <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</active>
			<title translate="label">
			    <label>Title</label>
			    <frontend_type>text</frontend_type>
			    <sort_order>2</sort_order>
			    <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</title>
			<order_status translate="label">
			    <label>New Order Status</label>
			    <frontend_type>select</frontend_type>
			    <source_model>adminhtml/system_config_source_order_status</source_model>
			    <sort_order>3</sort_order>
			    <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</order_status>
			<gateway_url translate="label">
			    <label>Gateway URL</label>
			    <frontend_type>text</frontend_type>
			    <sort_order>4</sort_order>
			    <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</gateway_url>
                        <merchant_id translate="label">
                            <label>Merchant ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
                        </merchant_id>
                        <private_key translate="label">
                            <label>Private Key</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
                        </private_key>
                        <bank_certificate translate="label">
                            <label>Bank Certificate</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
                        </bank_certificate>
			<order_confirmation translate="label">
			    <label>Send Order Confirmation</label>
			    <frontend_type>select</frontend_type>
			    <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</order_confirmation>
			<invoice_confirmation translate="label">
			    <label>Send Invoice</label>
			    <frontend_type>select</frontend_type>
			    <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</invoice_confirmation>
                        <quick_redirect translate="label">
			    <label>Quick Redirect</label>
                            <description><![CDATA[Redirect to bank right after order confirmation (no intermediate page)]]></description>
			    <frontend_type>select</frontend_type>
			    <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</quick_redirect>
                        <sort_order translate="label">
                            <label>Sort order</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sort_order>
		    </fields>
		</eepohs_estcard>
	    </groups>
	</payment>
    </sections>
</config>